@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.board{
  background-color:#eee;
  display:flex;
  flex-direction:column;
  font-size:2rem;
}
.board .row{
  display:flex;
}
.board .row:nth-of-type(1) .cell{
  border-top:none;
}
.board .row:nth-of-type(3) .cell{
  border-bottom:none;
}

.board .row .cell{
  text-align:center;
  padding:10px;
  border:1px solid #000;
  width:4rem;
  height:4rem;
  cursor:pointer;
}
